
{% extends "layout.html" %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/menu">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Crear Informe">Crear Informe <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item disabled">
        <a class="nav-link disabled" href="#">Tramitar Visto bueno<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item disabled">
        <a class="nav-link disabled" href="#">Derivar<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/logout">Salir <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">N°Fiscalizacion</th>
      <th scope="col">Rut Fiscalizador</th>
      <th scope="col">Estado</th>
      <th scope="col">Empresa</th>
    </tr>
  </thead>
<tbody>
    <tr class="table-info">
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      </tbody>
</table>

{% endblock %}

